@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-images {
	font-size: 2em;
}
.fas {
	position: relative;
	display: table-cell;
	width: 60px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
	width:250px;
	overflow:visible;
}

.main-menu {
	background:#212121;
	border-right:1px solid #e5e5e5;
	position:absolute;
	top:0;
	bottom:0;
	height:100%;
	left:0;
	width:60px;
	overflow:hidden;
	-webkit-transition:width .05s linear;
	transition:width .05s linear;
	-webkit-transform:translateZ(0) scale(1,1);
	z-index:1000;
}

.main-menu>ul {
	margin:7px 0;
}

.main-menu li {
	position:relative;
	display:block;
	width:250px;
}

.main-menu li>a {
	position:relative;
	display:table;
	border-collapse:collapse;
	border-spacing:0;
	color:#999;
	font-family: arial;
	font-size: 14px;
	text-decoration:none;
	-webkit-transform:translateZ(0) scale(1,1);
	-webkit-transition:all .1s linear;
	transition:all .1s linear;

}

.main-menu .nav-icon {
	position:relative;
	display:table-cell;
	width:60px;
	height:36px;
	text-align:center;
	vertical-align:middle;
	font-size:18px;
}

.main-menu .nav-text {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	width:190px;
	font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
	position:absolute;
	left:0;
	bottom:0;
}

.no-touch .scrollable.hover {
	overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
	overflow-y:auto;
	overflow:visible;
}

a:hover,a:focus {
	text-decoration:none;
}

nav {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}

nav ul,nav li {
	outline:0;
	margin:0;
	padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
	color:#fff;
	background-color:#5fa2db;
}
.area {
	float: left;
	background: #e2e2e2;
	width: 100%;
	height: 100%;
}
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 300;
	src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
#table{
	margin-left: 15%;
}
.package{
	box-sizing: border-box;
	width: 200px;
	height: 380px;
	border: 3px solid #e8e8e8;
	border-radius: 7px;
	display: inline-block;
	padding: 24px;
	text-align: center;
	float: left;
	-webkit-transition: margin-top 0.5s linear;
	transition: margin-top 0.5s linear;
	position: relative;
	margin: 0 5px;background:#FFF;
	margin-left: 3%;
}
.package:hover {
	margin-top: -30px;
	-webkit-transition: margin-top 0.3s linear;
	transition: margin-top 0.3s linear;
	cursor:pointer;
}
.name {
	color: #565656;
	font-weight: 300;
	font-size: 2rem;
	margin-top: -5px;
}
.price {
	margin-top: 7px;
	font-weight: bold;
}
.price::after {
	font-weight: normal;
}
.package hr {
	background-color: #dedede;
	border: none;
	height: 1px;
}
.trial {
	font-size: 13px;
	font-weight: 600;
	padding: 2px 21px 2px 21px;
	color: #33c4b6;
	border: 1px solid #e4e4e4;
	display: inline-block;
	border-radius: 15px;
	background-color: white;
	position: relative;
	bottom: -32px;
}
.package ul {
	list-style: none;
	padding: 0;
	text-align: left;
	margin-top: 29px;
}
.package li {
	margin-bottom: 15px;
}
.checkIcon {
	font-family: "FontAwesome";
	content: "f00c";
}
.package li::before {
	font-family: "FontAwesome";
	content: "f00c";
	font-size: 1.3rem;
	color: #33c4b6;
	margin-right: 3px;
}
.brilliant {
	border-color: #33c4b6;
}
/* Triangle */
.brilliant::before {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 64px 64px 0 0;
	border-color: #3bc6b8 transparent transparent transparent;
	position: absolute;
	left: 0;
	top: 0;
	content: "";
}
.brilliant::after {
	font-family: "FontAwesome";
	content: "f00c";
	color: white;
	position: absolute;
	left: 9px;
	top: 6px;
	text-shadow: 0 0 2px #37c5b6;
	font-size: 1.4rem;
}
.name a{
   text-decoration: none;
   color: #212121;
}
.nav-text:hover p{
    display: block;
}
